<!doctype html>
<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
    <th:block th:replace="~{/layout/main :: setContent(~{this::content} )}">
        <th:block th:fragment="content">
            <main>

            <!-- slider Area Start -->
            <div class="slider-area ">

                <div class="slider-active">
                    <div class="single-slider slider-height" data-background="/assets/img/backmain.jpeg">
                        <div class="container">
                            <div class="row d-flex align-items-center justify-content-between">
                                <div class="col-xl-8 col-lg-6 col-md-6 col-sm-6 d-none d-md-block">
                                    <!--                                    <div class="hero__img" data-animation="bounceIn" data-delay=".4s">-->
                                    <!--                                        <img src="/assets/img/main7.png" alt="">-->
                                    <!--                                        <div class="swiper-container mySwiper">-->
                                    <div class="hero__img">
                                        <div class="swiper-container mySwiper">
                                            <div class="swiper-wrapper">

                                                <div class="swiper-slide"> <img src="/assets/img/main1.png"></div>
                                                <div class="swiper-slide"> <img src="/assets/img/main2.png"></div>
                                                <div class="swiper-slide"> <img src="/assets/img/main3.png"></div>
                                                <div class="swiper-slide"> <img src="/assets/img/main4.png"></div>
                                                <div class="swiper-slide"> <img src="/assets/img/main5.png"></div>



                                            </div>
                                            <div class="swiper-button-next"></div>
                                            <div class="swiper-button-prev"></div>
                                        </div>

                                    </div>
                                </div>



                                <div class="hero__caption">
                                    <span data-animation="fadeInRight" data-delay=".4s" style="font-family: 'Nanum Pen Script'">상주캠퍼스내</span>
                                    <h1 data-animation="fadeInRight" data-delay=".6s">Rental <br> Service</h1>
                                    <p data-animation="fadeInRight" data-delay=".8s" style="font-size:50px; font-family: 'Nanum Pen Script'">지금 바로 만나보세요!</p>

                                </div>


                            </div>
                        </div>
                    </div>
                </div>
            </div>
                </div>
                </div>

                <div class="shop-method-area section-padding30" data-background="/assets/img/hero/h1_hero.jpg">
                    <div class="col-lg-12">
                        <div class="section-tittle text-center mb-85" >
                            <h2 style="margin-bottom: 7rem; font-family: 'Lato', sans-serif"  >KNU Re-S는 이렇게 운영됩니다!</h2>

                            <div class="container">
                                <div class="row d-flex justify-content-between">
                                    <div class="col-xl-3 col-lg-3 col-md-6">
                                        <div class="single-method mb-40">
                                            <i class="ti-desktop"></i>
                                            <h6>등록</h6>
                                            <p>빌려줄 물건을 등록하세요.<br> 사진,설명,가격,위치를<br>입력합니다</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6">
                                        <div class="single-method mb-40">
                                            <i class="ti-check-box"></i>
                                            <h6>승인</h6>
                                            <p>대여가능 여부를 확인하고<br> 들어오는 대여요청을 승인합니다.</p>
                                        </div>
                                    </div>
                                    <div class="col-xl-3 col-lg-3 col-md-6">
                                        <div class="single-method mb-40">
                                            <i class="ti-shopping-cart-full"></i>
                                            <h6>전달</h6>
                                            <p>대여요청 시간과 장소에 <br>맞추어 물픔을 전달합니다.</p>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

            </main>
        </th:block>
    </th:block>
</html>