<!doctype html>
<style>
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
</style>
<html lang="zxx" xmlns:th="http://www.thymeleaf.org">

<th:block th:replace="~{/layout/main :: setContent(~{this::content} )}">
    <th:block th:fragment="content">

        <!-- slider Area Start-->
        <div class="slider-area " data-background="/assets/img/background3.jpg">
            <!-- Mobile Menu -->

                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2 style="font-family:serif; margin-top:50px;  color: white; padding-left: 30px">
                                    물품 목록
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>


        <!-- slider Area End-->

        <!-- product list part start-->
        <section class="product_list section_padding">
            <div class="container">
                <th:block th:if="${loginInfo != null and loginInfo.email != null}">
                    <div class="col-md-4" style="margin: 10px 0;">
                        <a href="/templates/register.html" class="genric-btn primary e-large" data-th-marginheight="10">regist</a>
                    </div>
                </th:block>
                    <div class="col-md-12">
                        <div class="product_list">
                            <div class="row" >

                                <div class="col-lg-4 col-sm-4" th:each="m : ${merchandises}">
                                    <div class="single_product_item">
                                        <th:block>
                                            <img th:src="${(m.imgURL1 != null && !#strings.isEmpty(m.imgURL1))
                                                ? m.imgURL1
                                                : '/assets/img/categori/product1.png'}" alt="" class="img-fluid">
                                        </th:block>

                                        <h3>
                                            <a th:href="@{/merchandise/detail(mno=${m.mno})}">
                                                [[${m.title}]]
                                            </a>
                                                <th:block th:if="${loginInfo != null and loginInfo.email != null}">
                                                    <th:block th:if="${m.writerEmail} == ${loginInfo.email}">
                                                        <a th:href="@{/merchandise/modify(mno=${m.mno})}" class="genric-btn primary-border small">수정</a>
                                                        <a th:href="@{/merchandise/delete(mno=${m.mno})}" class="genric-btn primary-border small">삭제</a>
                                                    </th:block>
                                                </th:block>
                                        </h3>
                                        <span>[[${m.writer}]]</span>
                                        <span style="color: #1e7e34; margin: 0 10px">[[${m.state}]]</span>
                                        <span>[[${m.price}]]원</span>
                                        <th:block th:if="${loginInfo != null and loginInfo.email != null}">
                                            <span>
                                                <i class="ti-heart" onclick="toggle_wish.bind(this)()" th:if="${m.wish}" style="color: red" th:attr="mno = ${m.mno}, wish = true"></i>
                                                <i class="ti-heart" onclick="toggle_wish.bind(this)()" th:unless="${m.wish}" th:attr="mno = ${m.mno}, wish = false"></i>
                                            </span>
                                        </th:block>
                                    </div>
                                </div>

                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </section>
        <!-- product list part end-->
    </th:block>
</th:block>

<script th:inline="javascript">

    $(document).ready(function() {
        const gno = [[${board.gno}]];

        $("#addReplyBtn").click(function() {
            const formData = new FormData();
            formData.append("gno", gno);
            formData.append("text", $("#replyText")[0].value);

            $.ajax({
                url : "/communityReply/register",
                processData: false,
                contentType: false,
                data: formData,
                type: 'POST',
                dataType: 'json',
                success: function(result) {
                    alert("댓글 등록에 성공했습니다!");
                    location.href = location.href;
                },
                error: function(jqXHR, textStatus, errorThrown) {
                    alert("댓글 등록에 실패했습니다.");
                }
            });
        })
    })
    function toggle_wish() {
        const mno = $(this).attr("mno");
        const wish = $(this).attr("wish");
        const formData = new FormData();
        formData.append("mno", mno);
        formData.append("wish", wish);

        $.ajax({
            url: "/api/toggleWish",
            processData: false,
            contentType: false,
            data: formData,
            type: 'POST',
            dataType: 'json',
            success: function (result) {
                alert("변경되었습니다!");

                location.href = location.href;
            },
            error: function (jqXHR, textStatus, errorThrown) {
                alert("실패했습니다!");
            }
        });
    }
</script>

</html>