<html class="no-js" lang="zxx" xmlns:th="http://www.thymeleaf.org">
<style>
    @import url(//fonts.googleapis.com/earlyaccess/nanumgothic.css);
</style>
<th:block th:replace="~{/layout/main :: setContent(~{this::content} )}">
    <th:block th:fragment="content">
        <!-- slider Area Start-->
        <div class="slider-area " data-background="/assets/img/backmain.jpeg">
            <!-- Mobile Menu -->

                <div class="container">
                    <div class="row">
                        <div class="col-xl-12">
                            <div class="hero-cap text-center">
                                <h2 style="font-family:굴림; color: black; padding-left: 30px ;margin-top:30px">물품 지도</h2>
                            </div>
                        </div>
                    </div>
                </div>


        <!-- slider Area End-->

            <div style="width:100%;height:350px; display: flex;margin-top: 50px">
                <div style="width: 50%;height: 350px; flex: 1;">
                    <button id="mv_fl" onclick="goFirstLocation()"
                            style="width: 70%;height: 15%;
                            margin-left: 15%;margin-top: 10%; color: #0b0b0b">
                        기숙사 위치</button>
                    <button id="mv_fl" onclick="go2Location()"
                            style="width: 70%;height: 15%;
                            margin-left: 15%;margin-top: 10px; color: #0b0b0b">
                        정문 원룸 위치</button>
                    <button id="mv_fl" onclick="go3Location()"
                            style="width: 70%;height: 15%;
                            margin-left: 15%;margin-top: 10px; color: #0b0b0b">
                        후문 원룸 위치</button>
                    <button id="mv_myl" onclick="getCurrentPosBtn()"
                            style="width: 70%;height: 15%;
                            margin-left: 15%;margin-top: 10px; color: #0b0b0b">
                        현재위치</button>
                </div>
                <div id="map" style="width: 50%;height: 350px; flex: 1;"></div>
            </div>
        </div>
    </th:block>
</th:block>
<script type="text/javascript" src="//dapi.kakao.com/v2/maps/sdk.js?appkey=de2f3bbf8a813a465874a34624714171"></script>
<script>
    var mapContainer = document.getElementById('map'), // 지도를 표시할 div
        mapOption = {
            center: new kakao.maps.LatLng(36.37764560668607, 128.14467107909022), // 지도의 중심좌표
            level: 4 // 지도의 확대 레벨
        };

    var map = new kakao.maps.Map(mapContainer, mapOption); // 지도를 생성합니다

    // 마커를 표시할 위치와 내용을 가지고 있는 객체 배열입니다
    var positions = [
        {
            title: '<textarea style="padding: 10px;"> 경북대학교 창조관 기숙사 </textarea>',
            content: '<textarea style="padding: 10px;">청운관 목록\n[[${merchandises1}]]</textarea>',
            latlng: new kakao.maps.LatLng(36.37746626963179, 128.14363766563207),
            clicked: false
        },
        {
            title: '<textarea style="padding: 10px;"> 경북대학교 자주관 기숙사 </textarea>',
            content: '<textarea style="padding: 10px;">자주관 목록\n[[${merchandises2}]]</textarea>',
            latlng: new kakao.maps.LatLng(36.376885500021594, 128.14359015981555),
            clicked: false
        },
        {
            title: '<textarea style="padding: 10px;"> 경북대학교 근면관 기숙사 </textarea>',
            content: '<textarea style="padding: 10px;">근면관 목록\n[[${merchandises3}]]</textarea>',
            latlng: new kakao.maps.LatLng(36.377009787972675, 128.14307937574517),
            clicked: false
        },
        {
            title: '<textarea style="padding: 10px;"> 경북대학교 경애관 기숙사 </textarea>',
            content: '<textarea style="padding: 10px;">경애관 목록\n[[${merchandises4}]]</textarea>',
            latlng: new kakao.maps.LatLng(36.37745004981488, 128.14274315238552),
            clicked: false
        },
        {
            title: '<textarea style="padding: 10px;"> 경북대학교 노악관 기숙사 </textarea>',
            content: '<textarea style="padding: 10px;">노악관 목록\n[[${merchandises5}]]</textarea>',
            latlng: new kakao.maps.LatLng(36.37769400935698, 128.1422034682623),
            clicked: false
        },
        {
            title: '<textarea style="padding: 10px;"> 경북대학교 청운관 기숙사 </textarea>',
            content: '<textarea style="padding: 10px;">청운관 목록\n[[${merchandises6}]]</textarea>',
            latlng: new kakao.maps.LatLng(36.37827817747336, 128.14213121889614),
            clicked: false
        }
    ];

    // 마커 이미지의 이미지 주소입니다
    var imageSrc = "https://t1.daumcdn.net/localimg/localimages/07/mapapidoc/markerStar.png";

    for (var i = 0; i < positions.length; i ++) {

        // 마커 이미지의 이미지 크기 입니다
        var imageSize = new kakao.maps.Size(24, 35);

        // 마커 이미지를 생성합니다
        var markerImage = new kakao.maps.MarkerImage(imageSrc, imageSize);

        // 마커를 생성합니다
        var marker = new kakao.maps.Marker({
            map: map, // 마커를 표시할 지도
            position: positions[i].latlng, // 마커를 표시할 위치
            image: markerImage // 마커 이미지
        });
        var infowindow = new kakao.maps.InfoWindow({
            content: positions[i].title // 인포윈도우에 표시할 내용
        });

        var s_infowindow = new kakao.maps.InfoWindow({
            content: positions[i].content // 인포윈도우에 표시할 내용
        });


        // 마커에 mouseover 이벤트와 mouseout 이벤트를 등록합니다
        // 이벤트 리스너로는 클로저를 만들어 등록합니다
        // for문에서 클로저를 만들어 주지 않으면 마지막 마커에만 이벤트가 등록됩니다
        kakao.maps.event.addListener(marker, 'mouseover', makeOverListener(map, marker, infowindow));
        kakao.maps.event.addListener(marker, 'mouseout', makeOutListener(infowindow));
        kakao.maps.event.addListener(marker, 'click', makeClickListener(map, marker, s_infowindow, i));

        // 인포윈도우를 표시하는 클로저를 만드는 함수입니다
        function makeOverListener(map, marker, infowindow) {
            return function () {
                infowindow.open(map, marker);
            };
        }

        // 인포윈도우를 닫는 클로저를 만드는 함수입니다
        function makeOutListener(infowindow) {
            return function () {
                infowindow.close();
            };
        }
        // 인포윈도우를 닫는 클로저를 만드는 함수입니다
        function makeClickListener(map, marker, s_infowindow, i) {
            return function () {
                positions[i].clicked = !positions[i].clicked;
                if(positions[i].clicked)
                    s_infowindow.open(map, marker);
                else
                    s_infowindow.close();
            };
        }
    }

    <!-- 위는 기숙사 마커 표시 코드 -->
    <!-- 아래는는 원룸 다각형 표시 코드 -->
    // 다각형을 구성하는 좌표 배열입니다. 이 좌표들을 이어서 다각형을 표시합니다
    var areas = [
        {
            name : "경북대학교 정문 원룸",
            content :'<textarea style="padding: 10px;">정문원룸 목록\n[[${merchandises7}]]</textarea>',
            clicked: false,
            center : new kakao.maps.LatLng(36.377602117788726, 128.14943434801205),
            path :
                [
                    new kakao.maps.LatLng(36.3789981240935, 128.1497446323228),
                    new kakao.maps.LatLng(36.37777276120633, 128.14832249297822),
                    new kakao.maps.LatLng(36.37717799010667, 128.14785686205198),
                    new kakao.maps.LatLng(36.37656718666621, 128.14765287487973),
                    new kakao.maps.LatLng(36.376012967248556, 128.1476558753772),
                    new kakao.maps.LatLng(36.3771666913951, 128.1499684036721),
                    new kakao.maps.LatLng(36.3780685404755, 128.1508286031078)
                ]
        },
        {
            name : "경북대학교 후문 원룸",
            content :'<textarea style="padding: 10px;">후문원룸 목록\n[[${merchandises8}]]</textarea>',
            clicked: false,
            center : new kakao.maps.LatLng(36.382749791075355, 128.14826194184695),
            path :
                [
                    new kakao.maps.LatLng(36.38117981300025, 128.14870691218985),
                    new kakao.maps.LatLng(36.38190696322594, 128.14524060032662),
                    new kakao.maps.LatLng(36.38257782366878, 128.1438796830174),
                    new kakao.maps.LatLng(36.383601223209745, 128.14428473134606),
                    new kakao.maps.LatLng(36.38531386683832, 128.147987593477),
                    new kakao.maps.LatLng(36.38474345578975, 128.15107742216082),
                    new kakao.maps.LatLng(36.383936308403605, 128.1516116066312),
                    new kakao.maps.LatLng(36.38308014982181, 128.15162126956452)
                ]
        },
    ];

    var polygon = new kakao.maps.Polygon({
        path: areas[0].path,
        strokeWeight: 3, // 선의 두께입니다
        strokeColor: '#39DE2A', // 선의 색깔입니다
        strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
        strokeStyle: 'solid', // 선의 스타일입니다
        fillColor: '#A2FF99', // 채우기 색깔입니다
        fillOpacity: 0.7 // 채우기 불투명도 입니다
    });

    var polygon2 = new kakao.maps.Polygon({
        path: areas[1].path,
        strokeWeight: 3, // 선의 두께입니다
        strokeColor: '#2aabde', // 선의 색깔입니다
        strokeOpacity: 0.8, // 선의 불투명도 입니다 1에서 0 사이의 값이며 0에 가까울수록 투명합니다
        strokeStyle: 'solid', // 선의 스타일입니다
        fillColor: '#3fdbea', // 채우기 색깔입니다
        fillOpacity: 0.7 // 채우기 불투명도 입니다
    });

    // 지도에 다각형을 표시합니다
    polygon.setMap(map);
    polygon2.setMap(map);

    // 다각형에 마우스오버 이벤트가 발생했을 때 변경할 채우기 옵션입니다
    var mouseoverOption = {
        fillColor: '#EFFFED', // 채우기 색깔입니다
        fillOpacity: 0.8 // 채우기 불투명도 입니다
    };

    var mouseoverOption2 = {
        fillColor: '#b7fbff', // 채우기 색깔입니다
        fillOpacity: 0.8 // 채우기 불투명도 입니다
    };

    // 다각형에 마우스아웃 이벤트가 발생했을 때 변경할 채우기 옵션입니다
    var mouseoutOption = {
        fillColor: '#A2FF99', // 채우기 색깔입니다
        fillOpacity: 0.7 // 채우기 불투명도 입니다
    };

    var mouseoutOption2 = {
        fillColor: '#3fdbea', // 채우기 색깔입니다
        fillOpacity: 0.7 // 채우기 불투명도 입니다
    };

    var p_infowindow = new kakao.maps.InfoWindow();
    var p_infowindow2 = new kakao.maps.InfoWindow();
    var p_infowindow3 = new kakao.maps.InfoWindow();
    var p_infowindow4 = new kakao.maps.InfoWindow();
    p_infowindow.setPosition(areas[0].center);
    p_infowindow2.setPosition(areas[0].center);
    p_infowindow3.setPosition(areas[1].center);
    p_infowindow4.setPosition(areas[1].center);
    p_infowindow.setContent(areas[0].name);
    p_infowindow2.setContent(areas[0].content);
    p_infowindow3.setContent(areas[1].name);
    p_infowindow4.setContent(areas[1].content);


    // 다각형에 마우스오버 이벤트를 등록합니다
    kakao.maps.event.addListener(polygon, 'mouseover', function() {
        // 다각형의 채우기 옵션을 변경합니다
        polygon.setOptions(mouseoverOption);
        p_infowindow.open(map);
    });
    kakao.maps.event.addListener(polygon, 'mouseout', function() {
        // 다각형의 채우기 옵션을 변경합니다
        polygon.setOptions(mouseoutOption);
        p_infowindow.close();
    });

    kakao.maps.event.addListener(polygon2, 'mouseover', function(mouseEvent) {
        // 다각형의 채우기 옵션을 변경합니다
        polygon2.setOptions(mouseoverOption2);
        p_infowindow3.open(map);
    });
    kakao.maps.event.addListener(polygon2, 'mouseout', function() {
        // 다각형의 채우기 옵션을 변경합니다
        polygon2.setOptions(mouseoutOption2);
        p_infowindow3.close();
    });

    // 다각형에 마우스다운 이벤트를 등록합니다
    kakao.maps.event.addListener(polygon, 'mousedown', function() {
        areas[0].clicked = !areas[0].clicked;
        if(areas[0].clicked)
            p_infowindow2.open(map);
        else
            p_infowindow2.close();
    });
    // 다각형에 마우스다운 이벤트를 등록합니다
    kakao.maps.event.addListener(polygon2, 'mousedown', function() {
        areas[1].clicked = !areas[1].clicked;
        if(areas[1].clicked)
            p_infowindow4.open(map);
        else
            p_infowindow4.close();
    });

    <!--버튼 클릭 함수 구현 -->
    function goFirstLocation(){
        // 현재 위치 받아오기
        var firstPos = new kakao.maps.LatLng(36.37764560668607, 128.14467107909022); // 지도의 중심좌표
        // 지도 이동(기존 위치와 가깝다면 부드럽게 이동)
        map.panTo(firstPos);

    };

    function go2Location(){
        // 현재 위치 받아오기
        var twoPos = new kakao.maps.LatLng(36.37749399839269, 128.14943275691428); // 지도의 중심좌표
        // 지도 이동(기존 위치와 가깝다면 부드럽게 이동)
        map.panTo(twoPos);

    };
    function go3Location(){
        // 현재 위치 받아오기
        var threePos = new kakao.maps.LatLng(36.38276545135631, 128.1482733164905); // 지도의 중심좌표
        // 지도 이동(기존 위치와 가깝다면 부드럽게 이동)
        map.panTo(threePos);

    };

    function locationLoadSuccess(pos){
        // 현재 위치 받아오기
        var currentPos = new kakao.maps.LatLng(pos.coords.latitude,pos.coords.longitude);

        // 지도 이동(기존 위치와 가깝다면 부드럽게 이동)
        map.panTo(currentPos);

        // 마커 생성
        var marker = new kakao.maps.Marker({
            position: currentPos
        });

        // 기존에 마커가 있다면 제거
        marker.setMap(null);
        marker.setMap(map);
    };

    function locationLoadError(pos){
        alert('위치 정보를 가져오는데 실패했습니다.');
    };

    // 위치 가져오기 버튼 클릭시
    function getCurrentPosBtn(){
        navigator.geolocation.getCurrentPosition(locationLoadSuccess,locationLoadError);
    };

</script>
</html>